@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100,300;400&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 110%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 3rem;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 0.625rem;
  position: relative;
  transition: flex 0.5s ease-in;
}

.panel h3 {
  font-size: 2rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  font-weight: 100;
}

.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 1s ease-in;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
